.button {
    justify-self: center;
    align-self: center;
}

.container {
    width: 750px;
    height: 750px;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.box {
    width: 187.5px;
    height: 187.5px;
    border: 1px black;
}

/*.new-box {
    display:flex;
    flex-wrap: wrap;
    border-style: solid 1px;
    border-color: black;
}