/*body {
  display: flex;
  flex-direction: column;
  margin: 0
}
  */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
    padding: 8px 24px;
}

.container {
    width: 750px;
    height: 750px;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}
.box {
    width: 187.5px;
    height: 187.5px;
    border: 1px black;
}
