body {
  display: flex;
  flex-direction: column;
  margin: 0
}


.meta-container {
    display: flex;
    background-color:aquamarine;
    flex-direction: column;
}

.title-div {
    display:flex;
    justify-content: center;
    font-size: 46px;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}

.sketch-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.container {
    width: 750px;
    height: 750px;
    justify-self: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.box {
    width: 187.5px;
    height: 187.5px;
    border: 1px black;
}


.button {
    display: flex;
    margin: 16px 0px;
    padding: 8px 24px;
    
}